.head {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 165, 192);
    justify-content: center;
    text-align: center;
}
.hero-image {
    justify-content: center;
    text-align: center;
    border: 2px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 30px;
    justify-content: center;
  }
  
  .column {
    flex: 50%;
    padding: 0 4px;
    display: flex;
  }
  .col1 {
    flex: 50%;
    padding: 0px 10px;
    justify-content: space-around;
    display: wrap;                                                                                                                                                                                                                                                                                                                                                                                                                     
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  .catbutton {
    background-color: antiquewhite;
  }
.index {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 30px;
}
.wel {
  font-size: 15px;
}
a {
 color:black;
 text-decoration: none;
}
.link {
  background-color: rgb(209, 164, 235);
  text-decoration: underline;
}
a:hover{
  border: 3px solid black;
}
.media {
  font-family: sans-serif, serif ;
  font-style: oblique;
border: 3px solid rgb(245, 145, 187);
background-color: rgb(246, 164, 193);
border-radius: 10px;
}
